@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
padding:0;
margin:0;
font-family:"Roboto";
list-style:none;
box-sizing:border-box;
}

html
{
scroll-behavior:smooth;
}

.ContainerNavigation-City
{
width:90%;
padding:10px;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
margin:0 auto;
}

.ContainerNavigation-City img{
width:250px;
}

.Navigation{
display:flex;
}

.Navigation 
.List-Navigation
{
margin:0 10px;
}

.Navigation 
.List-Navigation 
.Anchor
{
padding:10px;
color:#fff;
background:#1B66A8;
box-shadow:2px 3px 2px #d4d4d4;
}

.Navigation
.List-Navigation
.Anchor:hover
{
color:#111;
background:#fff;
}

.Content-CampoGrande
{
width:100%;
height:100%;
}

.Container-Visitar
{
background:url(../assets/campo-grande-ms.jpg);
background-size:cover;
background-repeat:no-repeat;
width:100%;
height:450px;
display:flex;
justify-content:center;
align-items:center;
position:relative;
background-attachment:fixed;
text-align:center;
}

.Container-Visitar::before 
{
content:"";
width:100%;
height:100%;
position:absolute;
z-index:0;
top:0;
left:0;
background:#111;
opacity:0.5;
}

.Container-Visitar .heading-second,
.Container-Visitar .heading-third
{
color:#Fff;
text-shadow:2px 2px 2px #111;
}

.Container-Visitar 
.heading-second
{
font-size:45px;
margin:10px 0;
text-align:center;
position:relative;
z-index:1;
}

.Container-Visitar
.heading-third
{
font-size:30px;
position:relative;
z-index:1;
}

.Container-For-City
{
width:90%;
padding:35px 40px;
font-family:"Lato";
margin:10px auto;
}

.Container-For-City img{
width:100%;
margin:10px auto;
}

.Container-For-City 
.Figure-content::after
{
content:"Foto do Monumento Guaicurus";
display:block;
color:#111;
font-weight:bold;
text-align:center;
margin:10px;
}

.Container-For-City 
.Figure-Terere::after
{
content:"Monumento Guampa Tereré";
font-weight:bold;
margin:10px 0;
text-align:center;
display:block;
}

.Heading
{
text-align:center;
padding:10px 0;
}

.paragraph-text
{
margin:10px auto;
line-height:25px;
}

.paragraph-text::first-letter
{
font-size:25px;
}

.paragraph-text::first-line 
{
font-style:italic;
}

.division-ponto
{
margin:25px 0 ;
}

.small-heading
{
font-size:21px;
font-weight:normal;
text-align:left;    
margin:15px 0;
}

.before-List{
margin:10px 0;    
display:flex;
align-items:center;
}

.before-List::before
{
content:"";    
background:url(../assets/Ceta-Right.png);    
height:30px;
width:30px;
background-size:30px 30px;
display:block;
margin:0 10px;
}

span
{
font-weight:bold;
color:#1B66A8;
}

.Container-Galeria
{
padding:15px 0;
width:100%;
height:100%;
}

.Container-Galeria 
.Imgs-container
{
display:flex;
flex-wrap:wrap;
gap:5px;
}

.Container-Galeria 
.Imgs-container
img
{
width:360px; 
opacity:50%;   
margin:0;
}

.Container-Galeria 
.Imgs-container 
img:hover 
{
opacity:1;
transition:.2s ease-in;    
}

.rodape
{
width:100%;
height:100%;
background:#1B66A8;
padding:10px;
display:flex;
align-items:center;
}

.rodape img{
width:200px;    
margin:0 12px;
}

.rodape 
div
{
width:50%;    
display:flex;
flex-direction:column;
margin:0 10px;
}

.rodape h2,
.rodape h3 
{
color:#fff;
}

.rodape 
h2
{
font-size:30px;
}

.rodape 
h3
{
font-size:22px;
}

.rodape 
div 
h3
{
margin:0 0 15px 0;
}

.rodape 
div 
p
{
color:#fff;
font-style:italic;
}

.rodape 
div 
h4
{
color:#fff;
margin:20px;
}

.rodape 
div 
ul 
li
a
{
color:#fff;
display:inline-block;
margin:10px 0;    
}

@media(max-width:768px)
{

.Container-For-City 
{
width:100%;
margin:0;
padding:10px;    
}    

.ContainerNavigation-City 
.Navigation
{
padding:15px;
width:100%;
flex-direction:column;
}

.before-List
{
font-size:12px;
width:100%;
}

.before-List::before
{
content:"";
display:block;
height:35px;
width:35px;
background:url(../assets/Ceta-Right.png);
background-size:35px 35px;
}

.Container-Galeria
.Imgs-container
img
{
width:100%;
}

.Container-For-City
ul{
width:100%;
margin:0;
padding:0;
}

.ContainerNavigation-City
.Navigation
.List-Navigation 
{
margin: 15px 10px;
}

.rodape
{
flex-direction:column;    
}

.rodape 
img 
{
display:none;
}

h2{
margin:15px 0;
}

}
